@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #000618;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

body {
  background-color: #01081c;
  color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
input,
select,
option,
label,
button,
img,
a {
  z-index: 5;
}
select option:focus {
  background-color: #a0e3f9;
}

ul {
  list-style-type: disc;
}

input:disabled {
  background-color: gray;
}
.gradient-heading {
  background: linear-gradient(290.95deg, #2663bf 5.51%, #1ecbaf 96.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(282.46deg, #2663bf 11.63%, #62c6c0 94.38%);
}

.footer-bg {
  background: linear-gradient(180deg, #081433 0%, #000000 165.14%);
}
.nav-link {
  transition: 0.3s ease-in-out all;
}
.active {
  @apply text-btnGreen;
}

.main-bg {
  /* background: linear-gradient(178.57deg, #01081A 44.66%, #05253D 69.09%); */
  background-color: #01081c;
}

.buy-miners-heading-bg {
  background: linear-gradient(155.88deg, #0a162b 28.02%, #000000 93.61%);
}
.buy-miners-heading {
  background: linear-gradient(306.72deg, #2569cf 26.43%, #1ecbaf 115.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.popupwidth {
  width: calc(100vw - 100px);
}

.form {
  width: 90vw;
  @apply max-w-xl bg-white rounded shadow-lg py-8 px-10 my-12 mx-auto;
}
.form-label {
  @apply block text-sm mb-3 capitalize leading-normal;
}
.form-input,
.form-textarea,
.form-select {
  @apply w-full py-1 px-3 rounded-lg  border border-gray-300 text-gray-900 h-11;
}
.form-input,
.form-select,
.form-btn {
  @apply h-11;
}
.form-row {
  margin-bottom: 1rem;
  width: 100%;
}

.form-textarea {
  height: 7rem;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 3rem;
  height: 3rem;
  border: 4px solid #64748b;
  border-radius: 50%;
  border-top-color: rgb(5, 8, 48);
  animation: spinner 0.6s linear infinite;
}

.glowing-box1 {
  width: 40px;
  height: 40px;
  background-color: rgba(142, 240, 255, 0.6); /* No inner circle */
  border-radius: 50%; /* Keeps it circular */
  box-shadow: 0 0 60px 30px rgba(47, 215, 241, 0.4),
    0 0 100px 60px rgba(164, 227, 237, 0.4),
    0 0 140px 90px rgba(248, 250, 251, 0.4); /* Glowing effect */
}
.glowing-box {
  width: 40px;
  height: 40px;
  background-color: rgba(6, 109, 125, 0.6); /* No inner circle */
  border-radius: 50%; /* Keeps it circular */
  box-shadow: 0 0 60px 30px rgba(7, 96, 109, 0.538),
    0 0 100px 60px rgba(6, 93, 106, 0.384), 0 0 140px 90px rgba(4, 58, 84, 0.4); /* Glowing effect */
}

.btn-bg {
  background: linear-gradient(
    83.46deg,
    #07ead3 -1.94%,
    #26ddff 51.77%,
    #6fc6b8 94.43%
  );
}

.customborder {
  z-index: 5;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(3, 169, 243, 0.5),
    0 0 2px 1px rgba(0, 229, 255, 0.5);

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #1a232a;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      from 120.06deg,
      rgba(0, 77, 244, 0) 13.7%,
      rgba(0, 77, 244, 0.4) 27.55%,
      #004df4 36.4%,
      #26ddff 53.88%,
      rgba(38, 221, 255, 0) 89.18%
    );
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #000618;
    border-radius: 5px;
  }
  &:hover::before {
    animation: rotate 5s linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.customborder:hover {
  box-shadow: 0 0 5px 2px rgba(3, 169, 243, 0.5),
    0 0 10px 2px rgba(0, 229, 255, 0.5);
  transition: 0.6s ease-in-out;
}

.copyright-bg {
  background: linear-gradient(
    90deg,
    #000618 2.31%,
    #00c3fd 47.25%,
    #000618 99.25%
  );
}

@media (max-width: 768px) {
  .glow-effect {
    /* box-shadow: 0 0 5px #118ff9, 0 0 10px #118ff9, 0 0 15px #118ff9; */
    box-shadow: 0 0 12px rgba(17, 143, 249, 0.4);
    transition: box-shadow 0.3s ease-in-out;
  }

  .glow-effect:hover {
    box-shadow: 0 0 20px #118ff9, 0 0 40px #118ff9, 0 0 60px #118ff9;
  }
}

.bigglow-effect {
  box-shadow: 0 0 0px #26ddff, 0 0 0px #26ddff, 0 0 0px #26ddff;
}

.bigglow-effect:hover {
  box-shadow: 0 0 3px #26ddff, 0 0 3px #26ddff, 0 0 3px #26ddff;
  transform: scale(1);
}

.img-tile {
  @apply rounded-xl shadow-xl object-cover w-full h-auto transition-transform duration-300;
  transform: skewY(-2deg) rotate(-1deg);
}

.img-tile:hover {
  transform: skewY(0deg) rotate(0deg) scale(1.05);
}

.div-tile {
  @apply rounded-xl shadow-xl object-cover transition-transform duration-300 bg-white;
  transform: skewY(-2deg) rotate(-1deg);
}

.div-tile:hover {
  transform: skewY(0deg) rotate(0deg) scale(1.05);
}
